1. Start game with Switch
2. Wait for lights to be set up
3. Use buttons to make the yellow character move over to the white light
4. Repeat until can't continue or game is finished
5. Final Score is printed 
